@import "tailwindcss";

:root {
  color-scheme: dark;
  font-family: "Sora", "Segoe UI", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  min-width: 320px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
